<mat-form-field [formGroup]="parentForm" class="select" appearance="fill">
  <mat-label>{{ fieldData.label }}</mat-label>
  <mat-select
    autocomplete="off"
    [formControlName]="fieldData.controlName"
    [value]="getField.value"
    [placeholder]="fieldData.description"
  >
    <mat-option *ngFor="let option of fieldData.choices" [value]="option">
      {{ option }}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="parentForm.get(fieldData.controlName).invalid"
    >Поле обязательно для выбора</mat-error
  >
</mat-form-field>
