<mat-form-field [formGroup]="parentForm" class="example-full-width">
  <mat-label>{{ fieldData.label }}</mat-label>
  <input
    matInput
    autocomplete="off"
    type="number"
    [name]="fieldData.controlName"
    [formControlName]="fieldData.controlName"
    [value]="getField.value"
    [placeholder]="fieldData.description"
    [max]="fieldData.max"
    [min]="fieldData.min"
  />
  <mat-error *ngIf="parentForm.get(fieldData.controlName).invalid"
    >Поле обязательно для заполнения</mat-error
  >
</mat-form-field>
